.main-theme{
    // /* IE10+ */ 
    // background-image: -ms-linear-gradient(top left, #5E21AE 0%, #DD75BA 100%);

    // /* Mozilla Firefox */ 
    // background-image: -moz-linear-gradient(top left, #5E21AE 0%, #DD75BA 100%);

    // /* Opera */ 
    // background-image: -o-linear-gradient(top left, #5E21AE 0%, #DD75BA 100%);

    // /* Webkit (Safari/Chrome 10) */ 
    // background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #5E21AE), color-stop(100, #DD75BA));

    // /* Webkit (Chrome 11+) */ 
    // background-image: -webkit-linear-gradient(top left, #5E21AE 0%, #DD75BA 100%);

    // /* W3C Markup */ 
    // background-image: linear-gradient(to bottom right, #5E21AE 0%, #DD75BA 100%);

    background: linear-gradient(301deg, #a39ce1, #321eec);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    -o-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 14%}
        50%{background-position:100% 87%}
        100%{background-position:0% 14%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 14%}
        50%{background-position:100% 87%}
        100%{background-position:0% 14%}
    }
    @-o-keyframes AnimationName {
        0%{background-position:0% 14%}
        50%{background-position:100% 87%}
        100%{background-position:0% 14%}
    }
    @keyframes AnimationName { 
        0%{background-position:0% 14%}
        50%{background-position:100% 87%}
        100%{background-position:0% 14%}
    }

}

.component-shadow {
    -webkit-box-shadow: 17px 24px 99px -3px rgba(107,102,107,0.21);
    -moz-box-shadow: 17px 24px 99px -3px rgba(107,102,107,0.21);
    box-shadow: 17px 24px 99px -3px rgba(107,102,107,0.21);
}

.custom-font{
    font-family: 'Oswald', sans-serif;
}

.people-theme{
    background: linear-gradient(to right, rgba(252,68,130, 0.85), rgba(252,68,130, 0.25));
    background-size: 200% 100%;
    background-position: right top;
    transition: all 1.5s ease;
    color: white;
}
   
.people-theme:hover {
    background-position: left bottom;
} 

.film-theme{
    background: linear-gradient(to right, rgba(154,48,174, 0.85), rgba(154,48,174, 0.10));
    background-size: 200% 100%;
    background-position: right top;
    transition: all 1.5s ease;
    color: white;
}
   
.film-theme:hover {
    background-position: left bottom
} 